/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.times{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.1em;
}


/* Nav */

.navbar {
    position: relative;
    background-color: #212121;
    overflow: hidden;
}

.navbar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background: linear-gradient(to right, #9a9a9a, #9a9a9a, #9a9a9a, #9a9a9a, #ffffff, #ffffff, #ffffff, transparent);
}

.nav-link.text-brace {
    font-size: 1rem; 
    font-weight: 600;
    font-family: "Merriweather", serif;
    letter-spacing: 1px; 
    color: rgba(255, 255, 255, 0.5);
    margin-right: 20px; 
    transition: color 0.3s;
}

.nav-link.text-brace:hover {
    color: #e4dddd; 
}

.navbar-toggler {
    display: inline-block;
    vertical-align: middle;
}
  
  
.navbar-toggler .navbar-toggler-icon {
    color: white;
}
  
  
.navbar-toggler-icon {
    width: 1.5em;
    height: 1.5em;
}

.navbar-toggler:focus {
    outline: none;
}
  
.scroll-to-top-btn:focus{
    outline: none;
}


/* Section Header */

.page-id-722 .career .jumbotron.page-header:before {
    background-image: url(https://images.unsplash.com/photo-1534972195531-d756b9bfa9f2?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&w=3600);
}

.jumbotron.career.page-header:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url(https://images.unsplash.com/photo-1534972195531-d756b9bfa9f2?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&w=3600) center no-repeat;
    background-size: cover;
    background-color: #212121;
    opacity: 0.5;
    border-radius: 0;
}

.page-id-722 .research .jumbotron.page-header:before {
    background-image: url(https://images.unsplash.com/photo-1588600878108-578307a3cc9d?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&w=3600);
}

.jumbotron.research.page-header:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url(https://images.unsplash.com/photo-1588600878108-578307a3cc9d?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&w=3600) center no-repeat;
    background-size: cover;
    background-color: #212121;
    opacity: 0.5;
    border-radius: 0;
}

.page-id-722 .jumbotron.page-header:before {
    background-image: url(https://images.unsplash.com/photo-1613826488249-b67eba609bed?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&w=3600);
}

.jumbotron.page-header:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url(https://images.unsplash.com/photo-1613826488249-b67eba609bed?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&w=3600) center no-repeat;
    background-size: cover;
    background-color: #212121;
    opacity: 0.5;
    border-radius: 0;
}

.page-id-722 .additional .jumbotron.page-header:before {
    background-image: url(https://images.unsplash.com/photo-1612043071344-94c20c4c837e?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&w=3600);
}

.jumbotron.additional.page-header:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url(https://images.unsplash.com/photo-1612043071344-94c20c4c837e?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&w=3600) center no-repeat;
    background-size: cover;
    background-color: #212121;
    opacity: 0.5;
    border-radius: 0;
}

.jumbotron.page-header {
    border-radius: 0;
    position: relative;
    background: #000;
}


/* Section */

.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #212121;
}

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #252525
}

.container-3 {
    display: flex;
    background-color: #212121;
}

.container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-color: #252525
}

.fa-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0;
}

.divider-0 {
    height: 1.5px;
    background: linear-gradient(270deg, #ffffff, #2c2c2c);
}

.divider-1 {
    height: 1.5px;
    background: linear-gradient(270deg, #2c2c2c, #ffffff);
}


/* Section Circle Awards */

.image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centeredImage{
    box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.5);
    max-width: 350px;
    max-height: 350px;
    transition: 0.2s;
}

.centeredImage:hover {
    box-shadow: 12px 10px 10px rgba(91, 91, 91, 0.5);
}

.centeredImage-2{
    box-shadow: -12px 10px 10px rgba(0, 0, 0, 0.5);
    max-width: 350px;
    max-height: 350px;
    transition: 0.2s;
}

.centeredImage-2:hover {
    box-shadow: -12px 10px 10px rgba(91, 91, 91, 0.5);
}

.sombra{
    box-shadow: 7px 11px 10px rgba(30, 27, 27, 0.5);
    transition: 0.4s;
}

.sombra:hover{
    box-shadow: 7px 11px 10px rgba(85, 80, 80, 0.5);
}


/* Footer */

.footer-1{
    background-color: #1e1e1e;
}

.footer-2{
    background-color: #1A1A1A;
}

ul{
    list-style: none;
}

.list-inline-item{
    color: white;
    font-size: x-large;
}

.list-inline-item a{
    color: white;
}

.list-inline-item a:hover{
    color: rgba(255, 255, 255, 0.5);
}


/* Btn - Scroll */

.scroll-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0; 
    transition: opacity 0.3s, transform 0.3s;
    z-index: 999;
}

.scroll-to-top-btn:hover{
    background-color: #cec6c6;
}

.scroll-to-top-btn.show {
    display: block;
    opacity: 1; 
    transform: translateY(0);
}


/* Media */

@media (max-width: 767px) {
    .navbar-nav{
        margin-top: 0.8em;
    }

    .navbar-nav.ml-auto .nav-link {
      font-size: 0.9rem; 
      font-weight: 600;
      padding: 0;
      padding-bottom: 0.3em;
    }
  }
